<a
    class="btn {{#if buttonClass}} {{buttonClass}} {{else}} btn btn-link{{/if}}"
    {{#if url}} href="{{{url}}}"{{/if}}>
    {{#if icon}} <i class=" {{#if iconClass}} {{{iconClass}}} {{else}}fas fa-fw {{/if}} {{icon}}"></i> {{/if}}
    {{label}}
</a>
