{{#radios}}
    <div class="form-check {{classList}}">
        <input type="radio"  id="{{id}}" name="{{name}}" value="{{value}}" {{#if checked}} checked {{/if}} {{#if disabled}} disabled {{/if}}>
        <label class="form-check-label" for="{{id}}">
            {{text}}
        </label>
    </div>
{{/radios}}