<button class="btn {{#if classList}}{{classList}}{{else}}btn-outline-secondary{{/if}}" {{#if dataToggle}}data-toggle="{{dataToggle}}"{{/if}}  {{#if dataTarget}}data-target="{{dataTarget}}"{{/if}}>
    {{buttonText}}
</button>