{{#card}}
<div class="card" id="{{card-id}}">
    {{#if card-header}}
        <div class="card-header">
            {{#if card-title}}
                <div class="card-title">
                    {{card-title}}
                    {{#if card-subtitle}}
                        <div><small class="card-subtitle text-muted">{{card-subtitle}}</small></div>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    {{/if}}
    <div class="card-body">
        {{#if card-body-title}}
            <div class="card-body-title">
                {{card-body-title}}
                {{#if card-body-subtitle}}
                    <div><small class="card-subtitle text-muted">{{card-body-subtitle}}</small></div>
                {{/if}}
            </div>
        {{/if}}

        {{#if card-text}}
            <p class="card-text"> {{card-text}} </p>
        {{/if}}
        {{#if card-link}}
            <a href="#" class="card-link">{{card-link-text}}</a>
        {{/if}}
    </div>
    {{#if card-footer}}
        <div class="card-footer">{{card-footer-text}}</div>
    {{/if}}
</div>
{{/card}}