<div>Primary font: {{# fonts.primary }}"{{.}}"{{#unless @last}}, {{/unless}}{{/ fonts.primary}};</div>
<div><em>Primary font italic: {{# fonts.primary }}"{{.}}"{{#unless @last}}, {{/unless}}{{/ fonts.primary}}</em></div>
<div><strong>Primary font bold: {{# fonts.primary }}"{{.}}"{{#unless @last}}, {{/unless}}{{/ fonts.primary}}</strong>
</div>
<div class="font-secondary">Secondary font: {{# fonts.secondary }}"{{.}}"{{#unless @last}},
    {{/unless}}{{/ fonts.secondary}};</div>
<div class="font-secondary"><em>Secondary font italic: {{# fonts.secondary }}"{{.}}"{{#unless @last}},
        {{/unless}}{{/ fonts.secondary}};</em></div>
<div class="font-secondary"><strong>Secondary font bold; {{# fonts.secondary }}"{{.}}"{{#unless @last}},
        {{/unless}}{{/ fonts.secondary}};</strong></div>